n8n/workflows/03-rent-reminder.json
{
  "name": "03 - Rent Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 10 * * *" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 10AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.ESTATEFLOW_URL }}/api/n8n/rent-due",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-secret", "value": "={{ $env.N8N_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "get-reminders",
      "name": "Get Tenants With Rent Due",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-reminders",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-reminders-check",
      "name": "Any Rent Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "reminders",
        "options": {}
      },
      "id": "split-reminders",
      "name": "Split Into Individual Tenants",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst firstName = item.tenant_name.split(' ')[0];\nconst rent = Number(item.monthly_rent).toLocaleString('en-IN');\nconst dueDate = new Date(item.due_date).toLocaleDateString('en-IN', {\n  day: 'numeric', month: 'long', year: 'numeric'\n});\nconst unit = item.unit_number ? ` for Unit ${item.unit_number}` : '';\n\nconst message = `Dear ${firstName},\\n\\nThis is a friendly reminder that your monthly rent of ₹${rent}${unit} is due on ${dueDate}.\\n\\nPlease ensure timely payment to avoid any late charges.\\n\\nFor any queries, please contact us.\\n\\nThank you! 🏠`;\n\nreturn [{ json: { ...item, whatsapp_message: message } }];"
      },
      "id": "build-reminder",
      "name": "Build Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://live-mt-server.wati.io/{{ $env.WATI_ACCOUNT_ID }}/api/v1/sendSessionMessage/{{ $json.tenant_phone.replace('+', '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WATI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "messageText", "value": "={{ $json.whatsapp_message }}" }
          ]
        },
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "send-reminder",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    }
  ],
  "connections": {
    "Daily 10AM": {
      "main": [[{ "node": "Get Tenants With Rent Due", "type": "main", "index": 0 }]]
    },
    "Get Tenants With Rent Due": {
      "main": [[{ "node": "Any Rent Due?", "type": "main", "index": 0 }]]
    },
    "Any Rent Due?": {
      "main": [
        [{ "node": "Split Into Individual Tenants", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Into Individual Tenants": {
      "main": [[{ "node": "Build Reminder Message", "type": "main", "index": 0 }]]
    },
    "Build Reminder Message": {
      "main": [[{ "node": "Send WhatsApp Reminder", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "description": "Runs every day at 10 AM. Checks for tenants whose rent is due in 3 days and sends them a WhatsApp reminder with the amount and due date."
  }
}
